<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <section class="lado-a-lado">
        <header class="lado">
            <div class="left">
                <img src="{{ url_for('static', filename='img/icon/WhatsApp Image 2025-11-11 at 20.19.46.jpeg') }}" alt="Imagem de destaque">
            </div>
        </header>

        <section class="container">
            <div class="lado-formulario">

                <div class="logo">
                    <img class="loguin" src="{{ url_for('static', filename='img/icon/logo.png') }}" alt="Logo Impacta">
                </div>

                <div class="topo">
                    <h2>Olá, faça seu login!</h2>
                    <p>Novo usuário? <a href="{{ url_for('register') }}">Crie sua conta</a></p>
                </div>

                <!-- Exibir mensagens Flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

                <!-- Formulário de Login -->
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="input-group">
                        <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Senha" required>
                    </div>
                    <button type="submit" class="btn">Entrar</button>
                </form>

                <div class="esqueceu">
                    <a href="{{ url_for('forgot_password') }}">Esqueceu sua senha?</a>
                </div>

                <div class="linha">
                    <span></span>
                </div>

                <section class="social-login">
                    <div class="social-login">
                             {# <a href="{{ url_for('google_login') }}" class="social-btn">
                                <img src="{{ url_for('static', filename='icon/pesquisa.png') }}" alt="Google">
                                 Registrar com Google
                             </a> #}
                    </div>
                </section>
            </div>
        </section>
    </section>
</body>
</html>
