<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Perfil | Impacta Social</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/img_feed/simbolo-logo1.png') }}" sizes="192x192" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
 <header class="sidebar">
  <div class="logo-area">
      <img src="{{ url_for('static', filename='img/img_feed/impactaimg.jpg') }}" alt="Logo Impacta" class="logo" />
    </div>


  <nav>
    <a href="{{ url_for('feed') }}"><strong>Feed</strong></a>
    <a href="{{ url_for('perfil') }}"><strong>Perfil</strong></a>
    <a href="{{ url_for('direct') }}"><strong>Direct</strong></a>
    <a href="{{ url_for('landing') }}"><strong>Landing</strong></a>
  </nav>

</header>


<!--Perfil-->

  <main class="perfil-container">
    <section class="perfil-info">
      <img src="{{ url_for('static', filename='img/img_feed/sorrindo-jovem-etnico-femininas-em-t-shirt-ligado-experiencia-colorida.jpg') }}"  alt="Avatar" class="perfil-avatar">
      <div class="infos">
        <h2>@Mariana.Silva</h2>
         <ul class="stats">
          <li><strong>12</strong> publicações</li>
          <li><strong>340</strong> seguidores</li>
          <li><strong>280</strong> seguindo</li>
        </ul>
        <p>Impacto social • Educação • Comunidade “Servir é a forma mais verdadeira de liderar.”</p>
        <button>Editar Perfil</button>
         <ul class="stats">
        </ul>
      </div>
    </section>

    <!--POSTS-->

     <section class="perfil-posts">
      <div class="posts-header">
        <i class="fa-solid fa-border-all"></i>
        <h3><strong>Publicações</h3>
      </div>

      <div class="posts-grid">
        <div class="post-item">
          <img src="{{ url_for('static', filename='img/img_feed/7101122.jpg') }}" alt="Post">
        </div>
      </div>
    </section>

  </main>
</body>
</html>
